# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:admin@localhost:5432/postgres?schema=public"

# Next
SERVER_ENDPOINT="http://localhost:3000"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
SECRET=
# python3 -c 'import secrets; print(secrets.token_urlsafe(32))'

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Stripe keys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Stripe products
PRICE_MONTHLY_ID=
PRICE_ANNUAL_ID=

# LLM
OPENAI_API_KEY=

# Email
SENDGRID_API_KEY=
EMAIL_FROM=
EMAIL_TEMPLATE_PATH=

# Analytics
NEXT_PUBLIC_GA_ID=
